 *{
	box-sizing: border-box;
	}
#James-Kim{
	background-color: #4aaaa5;
	text-align: center;
	/*margin-left: 200px;
	margin-right: 1550px;*/
	font-size: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	/*position: absolute;*/ /* REF added */
}
#about-me{
	font-size: 30px;
	margin-left: 200px;
	margin-top: 50px;
	font-size: 35px;
	color: #4aaaa5;	
}
h2 {
	float: right;
}
#my-picture{
	margin-top: 50px;
	height: 200px;
	width: 200px;
}
p{
	position: absolute;
	font-size: 20px;
	float: left;
	margin: 150px 200px 200px 200px;
}
#social-media{
	position: relative;
	left: 1400px;
	bottom: 300px;
	font-size: 30px;
}
#about{
	position: static;
	font-size: 25px;
	margin-left: 1400px;
	margin-top: 100px;
}
#links{
	position: absolute;
	float: right;
	margin: 110px 110px 110px 110px;
	font-size: 20px;
}