* {
	margin: 0;
}
html, body {
	height: 100%;
	background-color: #033EAA;
}
.wrapper{
	margin: 0 auto;
}
#game{
    position: relative;
	margin: 10px 0 0 150px;
}
.content{
	margin: 10px auto;
	width:800px;
	background-color: #FEF667;
}
.row1{
	background-color: #FEF667;
	height: 150px;
}
.row2{
	background-color: #FFFCD2;
	border-top: 5px solid #FFD200;
	min-height: 400px;
}
.row3{
	margin-top: -100px;
	border-top: 5px solid #FFD200;
	background-color: #FEF667;
	height: 200px;
}

.row4 p {
	padding: 20px;
}
.rps-instructions{
    position: relative;
	margin: -55px auto;
	width: 409px;
	height: 58px;
	z-index: 1; 
}
.gamewrapper{
    position: relative;
	background-color: #FFFFFF;
	margin: 30px auto;
	border-radius: 25px;
    border: 10px solid #FFD200;
    padding: 20px; 
    width: 550px;
    height: 350px;
}
.scoreboard{
    position: relative;
	margin: 0 auto;
	height: 300px;
	width: 300px;
}
.scores{
    position: relative;
	margin: -64px 0 0 80px;
	z-index: 1;
}
#scorecard{
	margin: -186px auto;
	height: 300px;
	width: 300px;
}
.scoreboardLabels{
	padding: 20px;
	font-size: 18px;
	font-family: impact;
}
#scoreboardLabels{
	min-width: 250px;
}
#wins{
	margin-left: 25px;
	background-color: black;
	color: white;
	padding: 10px;
}
#losses{
	margin-left: 12px;
	background-color: black;
	color: white;
	padding: 10px;
}
#ties{
	margin-left: 32px;
	background-color: black;
	color: white;
	padding: 10px;
}